<%- include('../partials/header') %>

  <table id="list">
      <thead>
          <div>
            
                <img src="images/shore.jpeg">
              
          </div>
          <tr>
              <th>Your Reservations</th>
              
          </tr>
      </thead>
      <tbody><tr id="toppers">

        <th>Location </th>
        <th>Hotel </th>
        <th>Guest</th>
        <th>Check<br>In </th>
        <th>Chect<br>Out </th>
        <th>Activity </th>
        <th>Car<br>Rental </th>
        <th>Price</th>
    </tr>
          <% trips.forEach(function(t){ %> 
            
          <tr>
              <td><%= t.location %>    |</td>
              <td><%= t.hotel %>       |</td>
              <td><%= t.guest %> guest |</td>
              <td><%= t.checkIn %>     |</td>
              <td><%= t.checkOut %>    |</td>
              <td><%= t.activity %>    |</td>
              <td><%= t.carRental %>   |</td>
              <td>$<%= t.price %>   |</td>
              <td><a href="/trips/<%= t._id %>">DETAILS</a></td>
          </tr>    
         <%  }); %> 
      </tbody>
  </table>
    


<%- include('../partials/footer') %>
