<%- include('../partials/header') %>

  <table id="list">
      <thead>
          <tr>
              <th>Your Reservations</th>
              
          </tr>
      </thead>
      <tbody>
          <% trips.forEach(function(t){ %> 
          <tr>
              <td><%= t.location %> </td>
              <td><%= t.hotel %> </td>
              <td><%= t.guest %> </td>
              <td><%= t.checkIn %> </td>
              <td><%= t.checkOut %> </td>
              <td><%= t.activity %> </td>
              <td><%= t.carRental %> </td>
              <td><a href="/trips/<%= t._id %>">DETAILS</a></td>
          </tr>    
         <%  }); %> 
      </tbody>
  </table>
    


<%- include('../partials/footer') %>