<%- include('../partials/header') %>
<body class="water">
  


<div class="container">
  <table class="table table-striped">
    
      <thead>
          
          <tr>
            
              

              <div class="card bg-dark text-black">
                <img src="images/shore.jpg" class="card-img">
                <div class="card-img-overlay">
                  <% if (user) { %>
                  <h3 class="card-title text-center">Welcome, <%= (user.name)  %> </h3>
                
                   
                 
                 
                
              </div>

          </tr>
      </thead>
      <tbody><tr>
       
        <th scope="col">Location </th>
        <th scope="col">Hotel </th>
        <th scope="col">Guest</th>
        <th scope="col">Check<br>In </th>
        <th scope="col">Check<br>Out </th>
        <th scope="col">Activity </th>
        <th scope="col">Car<br>Rental </th>
        <th scope="col">Price</th>
        <th scope="col">View Details</th>
    </tr>
          <% trips.forEach(function(t){ %> 
            
          <tr>
              <td><%= t.location %> </td>
              <td><%= t.hotel %></td>
              <td><%= t.guest %> guest </td>
              <td><%= t.checkIn %> </td>
              <td><%= t.checkOut %></td>
              <td><%= t.activity %> </td>
              <td><%= t.carRental %></td>
              <td>$<%= t.price %> </td>
              <td><a class="detail" href="/trips/<%= t._id %>">DETAILS</a></td>
          </tr>    
         <%  }); %> 
      </tbody>
  </table>
    
</div>
<% } %> 
</body>
<%- include('../partials/footer') %>


